@import '@fontsource/fira-mono';

:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(255, 255, 255);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #1d1d1d;
	--color-theme-2: #474747;
	--color-text-0: rgba(0, 0, 0, 0.8);
	--color-text-1: rgba(255, 255, 255, 0.9);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	background-image: none;
}

h1,
h2 {
	font-weight: 500;
}
h1 strong {
	font-weight: 700;
}
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
	transition: opacity 0.3s ease;
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

h1 {
	font-size: 2rem;
	text-align: center;
	line-height: normal;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: var(--font-body);
	font-weight: 600;
	color: var(--color-text-1);
	width: 100%;
	padding: 16px 28px;
	background: #2D323A;
	box-shadow: 0px 1px 22px  rgba(16, 24, 40, 0.15);
	border-radius: 8px;
	border: 1px #2D323A solid;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button {
	opacity: 1;
	transition: opacity 0.3s ease;
  }
  
button:hover {
	opacity: 0.8;
  }

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
